<div class="tabs-container">

<div layout="row" layout-padding layout-align="center">

    <div class="col-md-3" ui-sref="registrationVisitorByPerson">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{'registrationVisitor.singleVisitor.title'| translate}}</h5>
            </div>
            <div class="ibox-content" style="text-align: center">
                <i class="fa fa-user big-icon"></i>

                <hr>
                <span class="text-muted small">
                    {{'registrationVisitor.singleVisitor.description'| translate}}
                </span>

            </div>
        </div>


    </div>

    <div class="col-md-3" ui-sref="multiRegistrationVisitors">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{'registrationVisitor.multiVisitors.title'| translate}}</h5>
            </div>
            <div class="ibox-content" style="text-align: center">
                <i class="fa fa-users big-icon"></i>

                <hr>
                <span class="text-muted small">
                    {{'registrationVisitor.singleVisitor.description'| translate}}
                </span>

            </div>
        </div>


    </div>

    <div class="col-md-3" ui-sref="registrationVisitorByVisitCard">
        <div class="ibox">
            <div class="ibox-title">
                <h5>{{'registrationVisitor.hasVisitCard.title'| translate}}</h5>
            </div>
            <div class="ibox-content" style="text-align: center">
                <i class="fa fa-barcode big-icon"></i>

                <hr>
                <span class="text-muted small">
                    {{'registrationVisitor.hasVisitCard.description'| translate}}
                </span>

            </div>
        </div>
    </div>

</div>

</div>


